.lang-container {
    display: flex;
    gap: .5rem;
    
    border-radius: 50px;
    background-color: var(--gray);
}

.lang-item {
    padding: .25rem 1rem;

    font-size: .75rem;
    font-family: var(--font-sans);
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--lightgray);
}
.active-lang-item {
    background-color: var(--white);
    color: var(--black);
}