.abc-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    animation: anim-container-opacity 1s ease-in-out;
}

@media (max-width: 700px) {
    .abc-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 1rem;
    }
}