@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: "PT Serif", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #fff;
  --black: #101010;
  --gray: #191919;
  --lightgray: #363636;

  --font-sans: "Reddit Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-serif: "PT Serif", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  font-weight: 800;
  color: var(--black);
  text-decoration: inherit;
}
a:hover {
  color: var(--black);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

input, textarea {
  font-size: .5rem;
  font-family: var(--font-serif);
  background-color: var(--gray);
  border: 1px solid #363636;
  box-shadow: 0px 0px 8px #00000020;
}
textarea:focus,
input:focus {
  outline: none;
}
textarea::placeholder,
input::placeholder {
  color: #4B4B4B;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes anim-container-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}